<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=500, user-scalable=no">
<title>Power management</title>
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
</head>
<body>

<div id="chart"></div>

<p>Voltage: <span id="volts"></span></p>
<p>Current: <span id="amperes"></span></p>
<p>Power: <span id="watts"></span></p>
<p>Energy: <span id="watt_hours"></span></p>
<p>Charge: <span id="charge"></span></p>

<script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<script>
var API_URL = {{url_for('api')|tojson}};
var POWER_SERIES = {{power_series|tojson}};
</script>
<script src="{{url_for('static', filename='main.js')}}"></script>

</body>
</html>
